APP_NAME=API Vulnerable - Grupo Kali-Entes
APP_DESCRIPTION=Mini Kanban vulnerable para demostracion de API Hacking con Postman y Burp Suite
APP_VERSION=0.1.0

DB_HOST=localhost
DB_PORT=5432
DB_NAME=BDKANBAN
DB_USER=postgres
DB_PASSWORD=123456

JWT_SECRET=clave_insegura_demo
JWT_EXPIRES_IN=7d

# SMTP para correo de bienvenida.
# En Render configurar EMAIL_PASSWORD desde Environment Variables, no subirlo al repositorio.
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=465
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASSWORD=
EMAIL_FROM=tu_correo@gmail.com
